faiss-cpu
numpy
qdrant-client
langchain
ipython
notebook
euriai
python-dotenv
tiktoken
scikit-learn
matplotlib
seaborn
langchain_community
langchain_qdrant
pypdf
transformers
sentence-transformers
torch
tensorflow
hf-xet
tqdm
ipywidgets
PyPDF2 